
<h2>List details: <%= @list.name %></h2>


<div class="cards">
  <% @list.movies.each do |l| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= l.poster_url %>)">
      <p><strong><%= l.title %></strong></p>
      <p><%= l.rating %> / 10</p>
    </div>
  <% end %>
</div>

<%= link_to 'Back', lists_path %>
