 <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">DA MOVIEZ</a>
    <%# <form class="form-inline"> %>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        <%= link_to new_list_bookmark_path(@list), :style => "text-decoration: none; color: inherit;" do %>
        Add a bookmark
        <% end %>
      </button>
    <%# </form> %>
  </div>
</div>


<h2>List details: <%= @list.name %></h2>


<div class="cards">
  <% @list.movies.each do |l| %>
    <% bookmark = Bookmark.find_by(list: @list, movie: l) %>
    <div class="card-category" style="position: relative; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= l.poster_url %>)">
      <span><strong><%= l.title %></strong></span>
      <span> (<%= l.rating %> / 10)</span>
      <button class="btn btn-outline-warning my-2 my-sm-0" style="position: absolute; bottom: 8px; right: 8px;" type="submit">
      <%= link_to bookmark_path(bookmark), method: :delete, :style => "text-decoration: none; color: inherit;" do %>
      Delete
      <% end %>
      </button>
    </div>

  <% end %>
</div>


  <%= link_to "Back", lists_path, class: "btn btn-outline-success mt-4 my-2 my-sm-0" %>
