

<h2>Add a movie to your list, yo!</h2>

<%= simple_form_for [ @list, @bookmark] do |f| %>
  <%= f.input :comment, placeholder: "Give comment, yo!" %>
  <%= f.association :movie %>
  <%= f.submit class: "btn btn-outline-primary" %>
<% end %>

<%= link_to "Back", lists_path, class: "btn btn-outline-success my-4 my-sm-0" %>
